# PostgreSQL Database
POSTGRES_USER=devops
POSTGRES_PASSWORD=devops24
POSTGRES_HOST=postgresql
POSTGRES_PORT=5432

# RabbitMQ
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672