# Ignore virtual environments
venv/
env/
.env/
.env

# Ignore Python bytecode
*.pyc
*.pyo
__pycache__/

# Ignore other files
.DS_Store  # MacOS
*.log

Dockerfile
kubernetes/
Terraform/
Ansible/
.github/workflows/